@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lk-va-bar-width: 72px;
  --lk-control-bar-height: unset;
}

[data-lk-theme="default"] {
  --lk-bg: #f6f6f6 !important;
}

.agent-visualizer > .lk-audio-bar {
  width: 72px;
}

/* Style dla BarVisualizer */
.lk-audio-bar {
  background-color: #C3CB9C !important; /* Tło wizualizatora / paski "idle" */
}

.lk-audio-bar.lk-highlighted {
  background-color: #C3CB9C !important; /* Kolor aktywnych pasków */
}

.lk-agent-control-bar {
  @apply border-t-0 p-0 h-min mr-4;
}

.lk-disconnect-button {
  @apply h-[36px] hover:bg-[#6b221a] hover:text-[white] bg-[#31100c] border-[#6b221a];
}

/* Style dla niestandardowego paska przewijania */
.custom-scrollbar {
  /* Dla Firefox */
  scrollbar-width: thin;
  scrollbar-color: #DBE0C3 transparent; /* Uchwyt: #DBE0C3, Ścieżka: przezroczysta */
}

/* Dla przeglądarek WebKit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Ścieżka: przezroczysta */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #DBE0C3; /* Uchwyt: #DBE0C3 */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #c8d0b0; /* Opcjonalny ciemniejszy kolor uchwytu przy najechaniu (przyciemniony #DBE0C3) */
}
